/**
 * main.css
 *
 * Overall styling (might be broken into smaller components later on
 */

@media screen {

  /**
   * Main layout
   */
  [role="banner"],
  [role="main"],
  [role="complementary"],
  [role="contentinfo"]{
    padding-left: 1em;
    padding-right: 1em;
  }

  /**
   * Banner layout
   */
  [role="banner"] {
    background: #494949;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .logo,
  [role="navigation"] {
    display: inline-block;
    vertical-align: bottom;
  }

  [role="navigation"] {
    flex: 1 0 auto;
    margin-top: .45em;
  }

  /**
   * Logo
   */
  .logo {
    flex: 0 0 12em;
    margin-top: 0;
  }

  .logo a {
    background: url('../i/logo.svg') no-repeat 0 0;
    background-size: contain;
    display: block;
    height: 1em;
    width: 5em;
  }

  /**
   * Main navigation
   */
  #main-nav {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #main-nav li {
    display: inline-block;
    flex: 0 0 auto;
  }

  #main-nav li + li {
    margin-top: 0;
  }

  #main-nav li a {
    display: block;
    padding: .25em 0em .25em 1em;
    text-decoration: none;
  }

  /**
   * Skip links
   */
  #skip {
    left: -9999px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #skip a:focus,
  #skip a:active {
    background: #444;
    color: #fff;
    display: block;
    font-weight: bold;
    left: 9999px;
    line-height: 1.0;
    padding: .5em 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

}/* END @media screen */
