/**
 * main.css
 *
 * Overall styling (might be broken into smaller components later on
 */

@media screen {

  /**
   * Main layout
   */
  [role="banner"],
  [role="main"],
  [role="complementary"],
  [role="contentinfo"]{
    padding-left: 1em;
    padding-right: 1em;
  }

  /**
   * Banner
   */
  [role="banner"] {
    background: #494949;
    background: rgba(73, 73, 73, .9);
    color: #fff;
  }

  /**
   * Logo
   */
  .logo {
    margin-top: 0;
  }

  /**
   * Main navigation
   */
  #main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #main-nav li + li {
    margin-top: .75em;
  }

  /**
   * Skip links
   */
  #skip {
    left: -9999px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #skip a:focus,
  #skip a:active {
    background: #444;
    color: #fff;
    display: block;
    font-weight: bold;
    left: 9999px;
    line-height: 1.0;
    padding: .5em 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

}/* END @media screen */
